## 학습목표
 1. 숫자 데이터의 범주형 데이터 화

In [ ]:
import pandas as pd

In [ ]:
# data 출처: https://www.kaggle.com/hesh97/titanicdataset-traincsv/data
train_data = pd.read_csv('./train.csv')
train_data.head()

#### Pclass 변수 변환하기
 - astype 사용하여 간단히 타입만 변환

#### Age 변수 변환하기
 - 변환 로직을 함수로 만든 후, apply 함수로 적용