## 학습목표
 1. 숫자 & 범주형 데이터의 이해

In [ ]:
import pandas as pd

In [ ]:
# data 출처: https://www.kaggle.com/hesh97/titanicdataset-traincsv/data
train_data = pd.read_csv('./train.csv')
train_data.head()

#### info함수로 각 변수의 데이터 타입 확인
 - 타입 변경은 astype함수를 사용

In [ ]:
train_data['Pclass'] = train_data['Pclass'].astype(str)
train_data.info()

#### 숫자형(Numerical Type) 데이터
 - 연속성을 띄는 숫자로 이루어진 데이터
   - 예) Age, Fare 등

#### 범주형(Categorical Type) 데이터
 - 연속적이지 않은 값(대부분의 경우 숫자를 제외한 나머지 값)을 갖는 데이터를 의미
   - 예) Name, Sex, Ticket, Cabin, Embarked 
 - 어떤 경우, 숫자형 타입이라 할지라도 개념적으로 범주형으로 처리해야할 경우가 있음
   - 예) Pclass